
body {
  
  
  font-family: 'Titan One', cursive; 
  letter-spacing: .02rem;
  margin: 0;
  
  
  
  /*background-image: url(../imgs/walken_cowbell.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;*/
}



html { 
  background: url(../imgs/walken_cowbell.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.key {
  border:  10px solid rgb(255, 74, 56);
  border-radius: 20px;
  /*margin: 10%;*/
  /*font-size: 30pt;*/
  padding: 5%;
  transition: all 0.07s ease;
  
  text-align: center;
  color:  rgb(255, 74, 56);
  background: rgb(243, 162, 41);
  text-shadow: 0 0 3px black;
}

.playing {
  transform: scale(1.1);
  border-color:  rgba(255, 74, 56, 0.541);
  box-shadow: 0 0 1rem rgba(255, 74, 56, 0.541);
}

.key p {
  display: block;
  font-size: 25pt;
  text-transform: uppercase;
  
}

.sound  {
  font-size: 140%;
  /*text-align: center;*/
  color: white;
}

/*.cowbell {
  padding: 2%;
  display: block;
  align-items: center;
  justify-content: center;  
}*/



.doot { 
  display: none;
}
  

  @media screen and (max-width: 768px) {
    
    
    
    .doot {
      display: block;
      text-align: center;
      padding: 7% 0;
      width: 100%;
      margin: 0;
      background: rgba(243, 162, 41, 0.466);
      color: rgb(255, 74, 56);
      font-size: 35pt;
      text-shadow: 0 0 3px black;
      
    }

    /*.spoopy {
      
      
      border: solid 5px orangered;
      background: rgb(160, 106, 6);
      width: auto;
      height: auto;
      overflow: auto;
    }*/
    

    .cowbell {
      display: flex;
      /*position: absolute;*/
      flex-direction: column;
      
      background-color: rgba(245, 11, 11, 0.466);
      overflow: hidden;
      transition: 1s;
      transform: translateY(-200%);
      /*align-items: center;*/
      width: 100%;
      margin: 0;
      /*text-align: center;*/
      align-items: center;
    }

    .cowbell.open {
      /*z-index: 0;*/
      transform: translateY(0%);
      overflow: hidden;
      /*height: 100%;*/
      /*width: 100%;*/
      margin: 0;
      
    }

    .key {
      margin: 5%;
    }
    
  }

  @media screen and (min-width: 769px) {
    
    .cowbell {
  display: grid;
  grid-template-rows: 20% 20% 20%;
  grid-template-columns: repeat(4, 20%);
  gap: 3%;
  margin: 1% 0 0 1%;
  
}
  }

